In [1]:
import pandas as pd
import numpy as np

In [2]:
violations_data = pd.read_csv('B:\BOSTON UNI\Acad\TDS\datasets\Public Works Violations.csv')
sam_data = pd.read_csv('B:\BOSTON UNI\Acad\TDS\datasets\SAM.csv')
pad_data = pd.read_csv('B:\BOSTON UNI\Acad\TDS\datasets\PAD.csv')

C:\Users\surya\AppData\Local\Temp\ipykernel_37168\3518336812.py:2: DtypeWarning: Columns (7,8,16,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  sam_data = pd.read_csv('B:\BOSTON UNI\Acad\TDS\datasets\SAM.csv')
C:\Users\surya\AppData\Local\Temp\ipykernel_37168\3518336812.py:3: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  pad_data = pd.read_csv('B:\BOSTON UNI\Acad\TDS\datasets\PAD.csv')

In [3]:
df_merged = violations_data.merge(sam_data[['SAM_ADDRESS_ID', 'PARCEL']], 
                        left_on='sam_id', 
                        right_on='SAM_ADDRESS_ID', 
                        how='left')

# Drop the redundant 'sam_Address_id' column
df_merged.drop(columns=['SAM_ADDRESS_ID'], inplace=True)

In [4]:
df_merged.dropna(subset=['PARCEL'], inplace=True)
df_merged.isna().sum()

case_no                  0
ticket_no              176
status_dttm              0
status                   0
code                     0
value                    0
description              0
violation_stno           0
violation_sthigh    607991
violation_street         0
violation_suffix      4978
violation_city           0
violation_state          0
violation_zip           14
ward                     0
contact_addr1          900
contact_addr2       475232
contact_city           373
contact_state          921
contact_zip           1110
sam_id                   0
latitude                 0
longitude                0
PARCEL                   0
dtype: int64

In [5]:
pad_data['violation_bool'] = pad_data['PID'].isin(df_merged['PARCEL']).astype(int)

pad_data.head(n=10)

,PID,CM_ID,GIS_ID,ST_NUM,ST_NUM2,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,BLDG_SEQ,...,KITCHEN_STYLE3,HEAT_TYPE,HEAT_SYSTEM,AC_TYPE,FIREPLACES,ORIENTATION,NUM_PARKING,PROP_VIEW,CORNER_UNIT,violation_bool
0,100001000,NaN,100001000,104.0,NaN,PUTNAM ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,3.0,A - Average,NaN,1
1,100002000,NaN,100002000,197.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,M - Modern,F - Forced Hot Air,NaN,C - Central AC,0.0,NaN,0.0,A - Average,NaN,0
2,100003000,NaN,100003000,199.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,S - Space Heat,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
3,100004000,NaN,100004000,201.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
4,100005000,NaN,100005000,203.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
5,100006000,NaN,100006000,205.0,207.0,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,M - Modern,E - Electric,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
6,100007000,NaN,100007000,209.0,211.0,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
7,100008000,NaN,100008000,213.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
8,100009000,NaN,100009000,215.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,M - Modern,W - Ht Water/Steam,NaN,N - None,0.0,NaN,0.0,A - Average,NaN,1
9,100010000,100010000.0,100010000,217.0,NaN,Lexington ST,NaN,EAST BOSTON,2128.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A - Average,NaN,1

In [6]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)  # No limit on width
pad_data.isna().sum()

PID                         0
CM_ID                   88722
GIS_ID                      0
ST_NUM                   9315
ST_NUM2                161280
ST_NAME                     0
UNIT_NUM                99590
CITY                        3
ZIP_CODE                    3
BLDG_SEQ                    0
NUM_BLDGS                   0
LUC                         0
LU                          0
LU_DESC                     0
BLDG_TYPE                3135
OWN_OCC                     0
OWNER                       7
MAIL_ADDRESSEE         148670
MAIL_STREET_ADDRESS        20
MAIL_CITY                   9
MAIL_STATE                318
MAIL_ZIP_CODE              27
RES_FLOOR               33456
CD_FLOOR               110068
RES_UNITS              172487
COM_UNITS              172487
RC_UNITS               172487
LAND_SF                  7826
GROSS_AREA              33730
LIVING_AREA             34024
LAND_VALUE                  0
BLDG_VALUE                  0
SFYI_VALUE                  0
TOTAL_VALUE                 0
 GROSS_TAX                  0
YR_BUILT                22667
YR_REMODEL              95462
STRUCTURE_CLASS        166059
ROOF_STRUCTURE          36067
ROOF_COVER              36059
INT_WALL                48608
EXT_FNISHED             22745
INT_COND                48605
EXT_COND                35998
OVERALL_COND            10146
BED_RMS                 48621
FULL_BTH                12402
HLF_BTH                 12265
KITCHENS                12472
TT_RMS                  48697
BDRM_COND              110273
BTHRM_STYLE1            48442
BTHRM_STYLE2            96270
BTHRM_STYLE3           145803
KITCHEN_TYPE            48458
KITCHEN_STYLE1          48448
KITCHEN_STYLE2         151818
KITCHEN_STYLE3         169413
HEAT_TYPE               48101
HEAT_SYSTEM            109791
AC_TYPE                 48131
FIREPLACES              12019
ORIENTATION            109834
NUM_PARKING             48456
PROP_VIEW               46679
CORNER_UNIT            109822
violation_bool              0
dtype: int64

From here we try to clean the data first and see if we can build a ML model on top of it to predict violation_bool

In [7]:
#dropping all the features with more than 80% missing values
cleaned_data = pad_data.copy()
cleaned_data.dropna(thresh=int(0.8 * len(pad_data)), axis=1, inplace=True)
cleaned_data.isna().sum()

PID                        0
GIS_ID                     0
ST_NUM                  9315
ST_NAME                    0
CITY                       3
ZIP_CODE                   3
BLDG_SEQ                   0
NUM_BLDGS                  0
LUC                        0
LU                         0
LU_DESC                    0
BLDG_TYPE               3135
OWN_OCC                    0
OWNER                      7
MAIL_STREET_ADDRESS       20
MAIL_CITY                  9
MAIL_STATE               318
MAIL_ZIP_CODE             27
RES_FLOOR              33456
LAND_SF                 7826
GROSS_AREA             33730
LIVING_AREA            34024
LAND_VALUE                 0
BLDG_VALUE                 0
SFYI_VALUE                 0
TOTAL_VALUE                0
 GROSS_TAX                 0
YR_BUILT               22667
ROOF_STRUCTURE         36067
ROOF_COVER             36059
EXT_FNISHED            22745
EXT_COND               35998
OVERALL_COND           10146
FULL_BTH               12402
HLF_BTH                12265
KITCHENS               12472
FIREPLACES             12019
violation_bool             0
dtype: int64

In [8]:
zero_counts = (cleaned_data.drop(columns=['violation_bool']) == 0).sum()
space_counts = ((cleaned_data.drop(columns=['violation_bool']) == " ") | (cleaned_data.drop(columns=['violation_bool']) == "")).sum()
summary = pd.DataFrame({'Zero_Count': zero_counts, 'Space_Count': space_counts})
summary = summary[(summary['Zero_Count'] > 0) | (summary['Space_Count'] > 0)]  # Show only affected columns
print(summary)

               Zero_Count  Space_Count
ST_NUM                  4            0
MAIL_ZIP_CODE          11            0
RES_FLOOR              31            0
FULL_BTH            36046            0
HLF_BTH            135580            0
KITCHENS            35984            0
FIREPLACES         135377            0

Zeroes for most above attributes seems reasonable excpet for ST_NUM and MAIL_ZIP_CODE. It is mostly missing information. Since its a small amount we drop them.

We did try plotting violations based on their category using latitute and longitude, but it did not matter much. It kind of looked like there were some places on the map that consistently did not have any violations recorded, which might indicate that those are not some public/residential spaces and/or violations might not have been recorded there. So we drop them as well.

In [9]:
location_cols = ['ST_NUM', 'ST_NAME', 'MAIL_ZIP_CODE', 'ZIP_CODE','CITY', 'MAIL_CITY', 'MAIL_STREET_ADDRESS', 'MAIL_STATE',]
cleaned_data.drop(columns= location_cols, inplace=True)

In [10]:
cleaned_data.isna().sum()

PID                   0
GIS_ID                0
BLDG_SEQ              0
NUM_BLDGS             0
LUC                   0
LU                    0
LU_DESC               0
BLDG_TYPE          3135
OWN_OCC               0
OWNER                 7
RES_FLOOR         33456
LAND_SF            7826
GROSS_AREA        33730
LIVING_AREA       34024
LAND_VALUE            0
BLDG_VALUE            0
SFYI_VALUE            0
TOTAL_VALUE           0
 GROSS_TAX            0
YR_BUILT          22667
ROOF_STRUCTURE    36067
ROOF_COVER        36059
EXT_FNISHED       22745
EXT_COND          35998
OVERALL_COND      10146
FULL_BTH          12402
HLF_BTH           12265
KITCHENS          12472
FIREPLACES        12019
violation_bool        0
dtype: int64

In [11]:
cleaned_data[['FULL_BTH', 'HLF_BTH', 'KITCHENS', 'FIREPLACES']].describe()

            FULL_BTH        HLF_BTH       KITCHENS     FIREPLACES
count  171043.000000  171180.000000  170973.000000  171426.000000
mean        1.375642       0.224588       1.056757       0.268857
std         1.065191       0.461921       0.800881       0.622966
min         0.000000       0.000000       0.000000       0.000000
25%         1.000000       0.000000       1.000000       0.000000
50%         1.000000       0.000000       1.000000       0.000000
75%         2.000000       0.000000       1.000000       0.000000
max        21.000000       7.000000       5.000000      12.000000

In [12]:
cleaned_data['FULL_BTH'].fillna(1)   # Median
cleaned_data['HLF_BTH'].fillna(0)    # Most values are 0
cleaned_data['KITCHENS'].fillna(1)   # Median
cleaned_data['FIREPLACES'].fillna(0) # Most values are 0

cleaned_data.dropna(inplace=True)

In [14]:
cleaned_data.head(n=10)

,PID,GIS_ID,BLDG_SEQ,NUM_BLDGS,LUC,LU,LU_DESC,BLDG_TYPE,OWN_OCC,OWNER,RES_FLOOR,LAND_SF,GROSS_AREA,LIVING_AREA,LAND_VALUE,BLDG_VALUE,SFYI_VALUE,TOTAL_VALUE,GROSS_TAX,YR_BUILT,ROOF_STRUCTURE,ROOF_COVER,EXT_FNISHED,EXT_COND,OVERALL_COND,FULL_BTH,HLF_BTH,KITCHENS,FIREPLACES,violation_bool
0,100001000,100001000,1,1,105,R3,THREE-FAM DWELLING,RE - Row End,N,PASCUCCI CARLO,3.0,"1,150",3353.0,2202.0,"188,200","610,800",0,"799,000","$9,252.42",1900.0,F - Flat,C - Composition,A - Asbestos,F - Fair,A - Average,3.0,0.0,3.0,0.0,1
1,100002000,100002000,1,1,105,R3,THREE-FAM DWELLING,RM - Row Middle,N,SEMBRANO RODERICK,3.0,"1,150",3047.0,2307.0,"192,500","650,500",0,"843,000","$9,761.94",1920.0,F - Flat,C - Composition,M - Vinyl,A - Average,A - Average,3.0,0.0,3.0,0.0,0
2,100003000,100003000,1,1,105,R3,THREE-FAM DWELLING,RM - Row Middle,Y,GUERRA CHEVARRIA ANA S,3.0,"1,150",3392.0,2268.0,"197,500","618,400",0,"815,900","$9,448.12",1905.0,F - Flat,C - Composition,M - Vinyl,G - Good,A - Average,3.0,0.0,3.0,0.0,1
3,100004000,100004000,1,1,105,R3,THREE-FAM DWELLING,RM - Row Middle,N,JB REALTY TRUST,3.0,"1,150",3108.0,2028.0,"203,300","570,800",0,"774,100","$8,964.08",1900.0,M - Mansard,C - Composition,M - Vinyl,A - Average,A - Average,3.0,0.0,3.0,0.0,1
4,100005000,100005000,1,1,104,R2,TWO-FAM DWELLING,RE - Row End,N,MARKS TRAVIS JOSEPH,3.0,"2,010",3700.0,2546.0,"244,800","526,900",0,"771,700","$8,936.29",1900.0,M - Mansard,C - Composition,M - Vinyl,F - Fair,A - Average,3.0,0.0,3.0,0.0,1
5,100006000,100006000,1,1,105,R3,THREE-FAM DWELLING,DK - Decker,N,205 LEXINGTON LLC,3.0,"2,500",6278.0,4362.0,"290,700","1,057,300",0,"1,348,000","$15,609.84",1900.0,F - Flat,R - Rubber Roof,A - Asbestos,A - Average,A - Average,6.0,0.0,3.0,0.0,1
6,100007000,100007000,1,1,105,R3,THREE-FAM DWELLING,DK - Decker,N,YOON SUNG PIL,3.0,"2,500",6432.0,4296.0,"295,800","1,011,800",0,"1,307,600","$15,142.01",1900.0,F - Flat,R - Rubber Roof,A - Asbestos,A - Average,A - Average,5.0,0.0,3.0,0.0,1
7,100008000,100008000,1,1,105,R3,THREE-FAM DWELLING,DK - Decker,Y,CASTALDINI ANTONIO,3.0,"2,500",6048.0,4080.0,"293,900","916,600",0,"1,210,500","$14,017.59",1900.0,F - Flat,C - Composition,M - Vinyl,A - Average,A - Average,3.0,0.0,3.0,0.0,1
8,100009000,100009000,1,1,105,R3,THREE-FAM DWELLING,DK - Decker,N,BEAGLEMIKE FAMILY TRUST,3.0,"2,500",4339.0,2937.0,"286,400","651,700",0,"938,100","$10,863.20",1900.0,F - Flat,R - Rubber Roof,A - Asbestos,A - Average,A - Average,3.0,0.0,3.0,0.0,1
10,100010002,100010000,1,1,102,CD,RESIDENTIAL CONDO,FS - Free Standing,Y,SCHOENADEL LAUREN,1.0,"1,082",1082.0,1082.0,0,"607,000",0,"607,000","$7,029.06",1900.0,F - Flat,R - Rubber Roof,C - Cement Board,E - Excellent,G - Good,2.0,0.0,1.0,0.0,0

Now lets encode the dataset and try fitting a classifier

In [15]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [16]:
categorical_cols = cleaned_data.select_dtypes(include=['object']).columns

# Apply Label Encoding
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    cleaned_data[col] = le.fit_transform(cleaned_data[col].astype(str))  # Convert to string to avoid issues
    label_encoders[col] = le

In [17]:
numerical_cols = cleaned_data.select_dtypes(include=['int64', 'float64']).columns.tolist()
numerical_cols.remove('violation_bool')  # Don't scale the target

# Apply StandardScaler
scaler = StandardScaler()
cleaned_data[numerical_cols] = scaler.fit_transform(cleaned_data[numerical_cols])

In [18]:
X = cleaned_data.drop(columns=['violation_bool'])
y = cleaned_data['violation_bool']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Initialize and train
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predictions
y_pred = clf.predict(X_test)

# Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.8608018255498289
              precision    recall  f1-score   support

           0       0.88      0.96      0.92     21435
           1       0.61      0.30      0.41      3982

    accuracy                           0.86     25417
   macro avg       0.75      0.63      0.66     25417
weighted avg       0.84      0.86      0.84     25417